# Editor Backups
*~
*.swp
*.swo
*.bak
.LCK*
.DS_Store
Thumbs.db

# Compiled binaries
**/target/
**/*.class

# Local Config & Secrets
.env
.env.local
**/credentials.json
**/application-dev.properties
**/*.jks
**/*.p12
**/*.pem
**/*.key
certs/

# IDE files
.idea/
.vscode/
*.iml
.classpath
.project
.settings
.factorypath

# Logs
*.log
